### Prospect Mapping 2

#### After meeting
- Establishment Aplicor ID will be useful to group the same schools
- Option and completed are the good indiators from the stage
- Maybe take averages rather than adding deciles to then be able to remove characteristics without a value
- PP bracket is how much government help they get in percentage (I think)

In [5]:
# importing the necessary modules
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
# Importing the data from the .xlsx as a data frame using the pandas module
df = pd.read_csv("PGL_data.csv", low_memory = False)

col = df.columns.tolist()

print('index  |                     column name     |    number of entries')
print('-------------------------------------------------------------------------------------')
for heading in col:
    print("%3.0f    |    %30s   |    %8.0f" % (col.index(heading), heading, len(df[heading].loc[df[heading].notna()])))
print('-------------------------------------------------------------------------------------')

index  |                     column name     |    number of entries
-------------------------------------------------------------------------------------
  0    |                      Account Name   |      187864
  1    |          Establishment Aplicor ID   |      187858
  2    |                Contact Aplicor ID   |      187864
  3    |                             Stage   |      187514
  4    |                Opportunity Source   |       87182
  5    |                       Loss Reason   |       51912
  6    |                           Product   |      183022
  7    |                            Course   |       59973
  8    |                 Booking Reference   |      187864
  9    |             Centre(s) of Interest   |       63827
 10    |                Accommodation Type   |       21327
 11    |                      Arrival Date   |      165044
 12    |                      Booking Date   |      139149
 13    |                         Age Range   |       59343
 14    |                Number of Children   |      160007
 15    |                  Number of Adults   |      159168
 16    |         Number of free passengers   |       43160
 17    |                         Transport   |       20102
 18    |          Cost per person Currency   |       46430
 19    |                   Cost per person   |       46430
 20    |                Requested Duration   |       37486
 21    |            Gross Revenue Currency   |      116241
 22    |                     Gross Revenue   |      116241
 23    |                 Discount Currency   |      187856
 24    |                          Discount   |      187856
 25    |              Discount Explanation   |        7713
 26    |                  Additional Needs   |       18869
 27    |                       Competitors   |        3229
 28    |                        Booking FY   |       86508
 29    |                     Booking Month   |      139149
 30    |                        Arrival FY   |      119442
 31    |                     Arrival Month   |      165044
 32    |    Days between Booking & Arrival   |      187819
 33    |        Number of Children Banding   |      154771
 34    |                      Centre Alias   |       56242
 35    |                      Course Alias   |       59971
 36    |                       First Order   |      187864
 37    |                    First Order FY   |       41785
 38    |                 First Order Month   |      187864
 39    |                      New_Existing   |      187864
 40    |                    Booking Season   |      139149
 41    |                   Time Lapse Band   |      187819
 42    |           Number of Children Band   |      154771
 43    |                        PP Bracket   |       60284
 44    |     School Size by Pupils Banding   |       61768
 45    |       By Radias to Nearest Centre   |       61768
 46    |                 Establishmet_Type   |       61768
 47    |                      Decile_Value   |      143898
 48    |                        Decile_F&M   |      143898
 49    |                          Column21   |           0
 50    |                          Column22   |           0
 51    |                          Column23   |           0
 52    |                          Column24   |           0
-------------------------------------------------------------------------------------

The schools need to be grouped, lets see how many there are.

In [52]:
print('Establishment Aplicor ID \t      | amount of entries')
print('----------------------------------------------------------')
df[col[1]].loc[df[col[1]].notna()].value_counts()

Establishment Aplicor ID 	      | amount of entries
----------------------------------------------------------

D3CDEA22-A407-4D55-8BB6-2CDEFA39D20B    591
90019712-630C-46A5-97DA-3700973C36D4    139
5418D529-39E2-451F-8FC0-12ED43A769D0    114
750A0A98-2D53-451B-B4C0-D027AB49A048    106
818D43DF-714A-4259-B90D-FA57279CDE5E    103
                                       ...
3E826B6D-F67F-4342-B937-7E2535CF337D      1
1280CC0F-1CD8-40CC-871A-65A459F1FEB3      1
4E605498-4027-44E8-BBE9-52352D67AEC4      1
260ADEC5-E5A4-4091-A6CB-66E343CCBC7D      1
ecb2959d-9769-a4ba-ae2f-5c8368a8308f      1
Name: Establishment Aplicor ID, Length: 20608, dtype: int64

So there are 20,608 schools on this record. By looking at the school that has 591 entries, the characteristics can be studied and see what they have in common with the other schools that have repeatedly used PGL.

In [49]:
dx = df[col[22]].groupby(df[col[1]])
dx.head(50)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
          ...
187859      NaN
187860      NaN
187861      NaN
187862    190.0
187863      NaN
Name: Gross Revenue, Length: 185757, dtype: float64