In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [9]:
%matplotlib inline

In [8]:
d = pd.read_excel("dataFromCarl.xlsx", sheet_name = "Sheet1", header = 0)

ValueError: Worksheet named 'Sheet2' not found

In [7]:
df = pd.DataFrame(data=d).head()

NameError: name 'd' is not defined

In [3]:
dfs = df.drop(['Client_Id','Brand', 'Territory','Season_Year', 'Season_Code','Gross_Fulfilment_Costs','Net_Fulfilment_Costs','Items_Returned','Mailing_Date','Web_Net_Value_before_Returns','Net_Value_Returned','Activity_Group','Mailing_Group','Mailing_Ref','Mailpiece','Promotion'], axis = 1)

NameError: name 'df' is not defined

In [24]:
dfs.head()

,Category,Sub_Category,Mailing_Group,Mailing_Ref,Activity_Group,Selection,Detailed_Selection,Mailpiece,Promotion,Mailing_Quantity,...,Mailorder_Net_Value_incl_PP_before_Returns,Web_Net_Value_incl_PP_before_Returns,Net_Value_before_Returns,Mailorder_Net_Value_before_Returns,Net_Sales,Net_Margin,Total_Marketing_Cost,Net_PP_Value,Contribution,____Calculated_Fields
0,Housefile,Housefile 9,Unknown,Unknown,Code Only Response,Code Only Response,Code Only Response,Unknown,Unknown,0,...,22310.3920,0,18902.50,18902.50,18902.50,11617.440,0.0,3407.8920,11617.440,NaN
1,Housefile,Housefile 11a,Unknown,Unknown,Code Only Response,Code Only Response,Code Only Response,Unknown,Unknown,0,...,8528.0587,0,7165.00,7165.00,7165.00,3016.650,0.0,1363.0587,3016.650,NaN
2,Housefile,Housefile 9a,Unknown,Unknown,Code Only Response,Code Only Response,Code Only Response,Unknown,Unknown,0,...,12113.4019,0,10091.31,10091.31,10091.31,2050.700,0.0,2022.0919,2050.700,NaN
3,Housefile,Housefile 10a,Unknown,Unknown,Code Only Response,Code Only Response,Code Only Response,Unknown,Unknown,0,...,1750.7884,0,1446.99,1446.99,1446.99,658.410,0.0,303.7984,658.410,NaN
4,Housefile,Housefile 6,Unknown,Unknown,Code Only Response,Code Only Response,Code Only Response,Unknown,Unknown,0,...,16893.5744,0,13964.16,13964.16,13964.16,6439.455,0.0,2929.4144,6439.455,NaN

In [2]:
df.mean()

NameError: name 'df' is not defined