In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
%matplotlib inline

In [3]:
d = pd.read_excel("dataFromCarl.xlsx", sheet_name = "Sheet1", header = 0,)

In [4]:
df = pd.DataFrame(data=d).head()

In [5]:
df.mean()

/var/folders/vh/xnr2f9hn3b57nzdtnpbrknk80000gn/T/ipykernel_58779/3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Mailing Group                               NaN
Mailing Quantity                  106178.600000
Response Rate                          0.046396
New Customer %                         0.086699
Orders                              3921.200000
Net AOV                              194.865346
Net Value before Returns          684772.346260
Web Net Value before Returns %         0.000000
Net Value Returned %                   0.000000
Net Sales                         684772.346260
Net Sales per Book                     9.939323
Net Margin                        423485.136320
Margin %                               0.543682
Total Marketing Cost               32500.238000
Marketing Costs per Book               0.130261
Net Fulfilment Costs                   0.000000
Contribution                      390984.898320
Contribution per Order               101.814417
A to S                                 0.020017
dtype: float64

In [6]:
df.head()

,Category,Mailing Date,Mailing Group,Mailing Quantity,Response Rate,New Customer %,Orders,Net AOV,Net Value before Returns,Web Net Value before Returns %,...,Net Sales,Net Sales per Book,Net Margin,Margin %,Total Marketing Cost,Marketing Costs per Book,Net Fulfilment Costs,Contribution,Contribution per Order,A to S
0,Housefile,,NaN,249500,0.033671,0.293060,8401,193.262534,1.623599e+06,0,...,1.623599e+06,6.507409,1.229829e+06,0.757471,162501.19,0.651307,0,1.067328e+06,127.047766,0.100087
1,NaN,2019-02-14 00:00:00,NaN,102887,0.034154,0.026181,3514,157.149106,5.522220e+05,0,...,5.522220e+05,5.367267,2.700517e+05,0.489027,0.00,0.000000,0,2.700517e+05,76.850230,0.000000
2,NaN,2019-03-01 00:00:00,NaN,881,0.080590,0.014085,71,302.629577,2.148670e+04,0,...,2.148670e+04,24.388990,1.039876e+04,0.483963,0.00,0.000000,0,1.039876e+04,146.461408,0.000000
3,NaN,2019-03-11 00:00:00,NaN,110136,0.046434,0.068244,5114,161.584748,8.263444e+05,0,...,8.263444e+05,7.502945,4.106333e+05,0.496928,0.00,0.000000,0,4.106333e+05,80.295921,0.000000
4,NaN,2019-04-08 00:00:00,NaN,67489,0.037132,0.031923,2506,159.700766,4.002101e+05,0,...,4.002101e+05,5.930005,1.965124e+05,0.491023,0.00,0.000000,0,1.965124e+05,78.416760,0.000000